extends layout
block head

  title Tripping High | creating Quality online identity
  meta(name='description', content='We create Quality websites, dashboards and designs')
  meta(name='description', content='Tripping High is an software and design service for brands. We are a group of experienced and skilled developers and develeop fast effecient products ')
  meta(name='keywords', content='software agency, custom dashboards, website developers near me, django developers')
  meta(property='og:title', content='We create Quality websites, dashboards and designs')
  meta(property='og:description', content='')
  meta(property='og:site_name', content='Tripping High')
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://trippinghigh.com')
  meta(http-equiv='cache-control', content='max-age=0')
  meta(http-equiv='cache-control', content='no-cache')
  meta(http-equiv='pragma', content='no-cache')
  meta(property='og:locale', content='en_US')
  meta(name='robots', content='index, follow')
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  
  - bodyclass = 'index'  
block content
  section.white.cover
    div.coding-logo
    h1 creating quality online experience
    svg#svg1526(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', width='500px', height='100px', viewBox='0 0 100 20', version='1.1', inkscape:version='0.92.4 (5da689c313, 2019-01-14)', sodipodi:docname='logo.svg')
      defs#defs1520
      g#layer1(inkscape:label='Layer 1', inkscape:groupmode='layer', transform='translate(-20.244924,-68.702327)')
        g#g1429(transform='matrix(0.26458333,0,0,0.26458333,-18.109739,-61.924453)')
          rect#rect1303.caterpillar(ry='7.6055684', y='515', x='152.65718', height='15.211137', width='190.88216')
          rect#rect1309.catepillarleg(ry='6.6535754', y='535', x='160.59026')
          rect#rect1307.catepillarleg(x='208.05943', y='535', ry='6.6535754')
          rect#rect1305.catepillarleg(ry='6.6535754', y='535', x='258.59479')
          rect#rect1311.catepillarleg(x='307.73639', y='535', ry='6.6535754')
          text#text1315(transform='rotate(-22.448182)', y='500', x='80.380806', style='font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:32.90904617px;line-height:1.25;font-family:Recoleta;-inkscape-font-specification:Recoleta;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1.64545226', xml:space='preserve')
            tspan#tspan1313(style='fill:#000000;stroke-width:1.64545226', y='605', x='120', sodipodi:role='line') ;

  section.grey.cover
