extends layout
block head

  title Tripping High | creating Quality online identity
  meta(name='description', content='We create Quality websites, dashboards and designs')
  meta(name='description', content='Tripping High is an software and design service for brands. We are a group of experienced and skilled developers and develeop fast effecient products ')
  meta(name='keywords', content='software agency, custom dashboards, website developers near me, django developers')
  meta(property='og:title', content='We create Quality websites, dashboards and designs')
  meta(property='og:description', content='')
  meta(property='og:site_name', content='Tripping High')
  meta(property='og:type', content='website')
  meta(property='og:url', content='https://trippinghigh.com')
  meta(http-equiv='cache-control', content='max-age=0')
  meta(http-equiv='cache-control', content='no-cache')
  meta(http-equiv='pragma', content='no-cache')
  meta(property='og:locale', content='en_US')
  meta(name='robots', content='index, follow')
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  
  - bodyclass = 'index'  
block content
  section.white.cover.flex
    div.coding-logo
    h1 creating quality online experience
    // Created with Inkscape (http://www.inkscape.org/)
    svg#svg1526(xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns#' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='500px' height='100px' viewbox='0 0 100 20' version='1.1' inkscape:version='0.92.4 (5da689c313, 2019-01-14)' sodipodi:docname='logo.svg')
      defs#defs1520
      g#layer1(inkscape:label='Layer 1', inkscape:groupmode='layer', transform='translate(-20.244924,-68.702327)')
        g#body(transform='matrix(0.26458333,0,0,0.26458333,-18.109739,-61.924453)')
          rect#body1.caterpillar(ry='7.6055684', y='515', x='152.65718', height='15.211137', width='190.88216')
          text#eyes(transform='rotate(-22.448182)', y='500', x='80.380806')
            tspan#tspan1313(y='605', x='120', sodipodi:role='line')
        g#leg(transform='matrix(0.26458333,0,0,0.26458333,-18.109739,-61.924453)')
          rect#leg1.catepillarleg(ry='6.6535754', y='535', x='160.59026')
          rect#leg2.catepillarleg(x='208.05943', y='535', ry='6.6535754')
          rect#leg3.catepillarleg(ry='6.6535754', x='258', y='535')
          rect#leg4.catepillarleg(x='307.73639', y='535', ry='6.6535754')
      animate(xlink:href='#leg1', attributename='x', by='10', dur='5s', begin='2s', additive='sum', accumulate='sum', repeatcount='indefinite', keytimes='0;1', calcmode='spline', keysplines='1, 0, 0, 0')
      animate(xlink:href='#leg2', attributename='x', by='10', dur='5s', begin='2s', additive='sum', accumulate='sum', repeatcount='indefinite', keytimes='0;1', calcmode='spline', keysplines='1, 0, 0, 0')
      animate(xlink:href='#leg3', attributename='x', by='10', dur='5s', begin='2s', additive='sum', accumulate='sum', repeatcount='indefinite', keytimes='0;1', calcmode='spline', keysplines='1, 0, 0, 0')
      animate(xlink:href='#leg4', attributename='x', by='10', dur='5s', begin='2s', additive='sum', accumulate='sum', repeatcount='indefinite', keytimes='0;1', calcmode='spline', keysplines='1, 0, 0, 0')
      animate(xlink:href='#body1', attributename='x', by='10', dur='5s', additive='sum', accumulate='sum', repeatcount='indefinite', calcmode='spline', keytimes='0;1', keysplines='1, 0, 0, 0')
      animate(xlink:href='#eyes', attributename='x', by='10', dur='5s', additive='sum', accumulate='sum', repeatcount='indefinite', calcmode='spline', keytimes='0;1', keysplines='1, 0, 0, 0')


  section.grey.cover
    h2#services services
    ul 
      li Static websites
      li Website Maintainance 
      li CMS: Wordpress, Drupal
      li Web based Software
      li Dashboards and charts
      li Logo and Branding
      
  section.white.cover
    h2#clients Clients
    ul 
      li Mazzalig
      li Cocreate Change
      li Reimagine Plastic
      li Aspirelabs
      li Cashforphone
  section.grey.cover
    h2#contact Contact
    iframe(src='https://form.jotform.com/200272964600045', width='100%', height='95%' frameborder='0', marginheight='0', marginwidth='0') Loading&mldr;

      

      
